.ability {
  padding: 0.5rem;
  border: 1px solid #d0dfdf;
  border-radius: 4px;
  background-color: #f0ffff;
}

.ability p {
  display: inline-block;
  width: calc(100% - 10rem);
}

.ability span {
  float: right;
  font-size: 12px;
  line-height: 20px;
}

.ability + .ability {
  margin-top: 0.5rem;
}